@media (max-width:992px){

 /* ============================== header responsive ==============================  */
    header{
        padding: 11px;
    }
    .container{
        padding: 0 2%;
    }
    .nav-items{
        position: absolute;
        background-color: var(--nav-bg-color);
        left: -100%;
        top: 100%;
        display: flex;
        flex-direction: column;
        width: 80%;
        border-top: 2px solid #567CDB;
        height: 100vh;
    }
    .nav-items li{
        padding: 12px 15px;
        border-bottom: 1px dotted #ddd;
        text-align: center;
    }

/* ------------- socail icon ------------- */
    .socail-icon{
        padding: 08px 0;  
    }

/* ------------- socail icon (help css get started) ------------- */

    .get-started{
        margin: 13px auto;
    }

/* ------------- humbargder menu ------------- */
    .humbarger{
        display: block;
    }
    .nav-items.active{
        left: 0;
    }

    .about-cnt{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }
    .line{
        text-align: center;
    }
    .about-text{
        text-align: center;
    }
    .about-text p{
        text-align: center;
    }
    .professional-cnt{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }


    .Our-Portfolio-card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .Our-Portfolio-card .card-center{
        display: grid;
        grid-column: 1 / 3;
    }
    .footer-cnt-gird{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .contact-three-card-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .contact-three-card-grid .center-card-info{
        display: grid;
        grid-column: 1 / 3;
    }

}



 /* ============================== bg-cover  responsive ==============================  */

@media (max-width:768px){
    .bg-cover-text h1 {
        line-height: 69px;
        font-size: 56px;
    }
    .bg-cover-text p{
        font-size: 13px;
    }

    .six-card-cnt{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .watch-video-gird{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .Testimonials-card-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .image-form-box-grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 570px){
    .bg-cover-text h1 {
        line-height: 52px;
        font-size: 38px;
    }
    .bg-cover-text p {
        font-size: 9px;
    }
    .contact-three-card-grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .contact-card{
        grid-column: 1 / 3;
    }

}

@media (max-width:450px){
    .six-card-cnt{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 08px;
    }
    .Our-Portfolio-card{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .Portfolio-card-01,
    .Portfolio-card-02,
    .Portfolio-card-03{
        display: grid;
        /* grid-column: 1 / 3; */
        grid-column-start: 1;
        grid-column-end: 3;

    }

    /* .Our-Portfolio-card{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    } */

    .Testimonials-card-grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
}


@media (max-width: 390px){
    .bg-cover-text h1 {
        line-height: 39px;
        font-size: 30px;
    }
    .bg-cover-text p {
        font-size: 8px;
    }
    .popup-video video{
        max-width: 90%;
    }
}